[2015-07-18 13:56] afiore opened #2 "Version 0.1.2 not on maven central yet"
Hi, well done for upgrading to akka-http 1.0 so quickly! However, I [cannot find](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.softwaremill%22%20AND%20a%3A%22akka-http-session_2.11%22) `0.1.2` on Maven central yet. Am I missing something?

[2015-07-18 18:39] adamw commented on #2
Should be there in max 15 minutes. Sorry! I didn't click the release button on sonatype :)

[2015-07-18 18:39] #2 closed, assigned to nobody

[2015-07-19 17:01] afiore commented on #2
Hey, unfortunately the new release doesn't seem to be there yet!

http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.softwaremill%22%20AND%20a%3A%22akka-http-session_2.11%22

[2015-07-19 19:14] adamw commented on #2
I can see `0.1.2` :)

[2015-07-19 19:14] adamw commented on #2
http://search.maven.org/#artifactdetails%7Ccom.softwaremill%7Cakka-http-session_2.11%7C0.1.2%7Cjar

[2015-09-07 01:51] 0xdevalias opened #3 "JWTs"
Came across https://groups.google.com/forum/#!topic/akka-user/mZR0C5TRC04 and was wondering if any further thought had been put in to support JWTs? It'd be super useful!

[2015-09-07 07:27] adamw commented on #3
Not yet - didn't have time so far :) But definitely on the radar. Help always appreciated :)

[2015-09-08 03:16] 0xdevalias commented on #3
Fair fair :) In swapping from cookie based to something a little more 'modern' to make proper use of the JWT's would require having some frontend logic to handle them.

In regards to auth stuff I've seen [Satellizer](https://github.com/sahat/satellizer) used pretty well for that. Perhaps some lessons could be learned there?

[2015-11-16 11:09] adamw commented on #3
I just release 0.2.0 with some basic support for JWT: sessions can be encoded in that format

[2015-11-16 11:09] #3 closed, assigned to nobody

[2015-11-16 23:31] 0xdevalias commented on #3
Sounds good, will check it out :)

[2015-12-10 16:49] hseeberger opened #4 "Move oneOff, usingHeaders and maybe others"
I consider it confusing to have methods like `oneOff`, `usingHeaders` in `SessionDirectives`. They should be moved to some other trait or singleton object.

[2015-12-15 12:33] adamw commented on #4
In fact there's an "import guide" missing currently which would be good to have :) How about having:
- `SessionDirectives` with `setSession`, `session`, etc.
- `SessionOptions` with `oneOff`, `usingCookies`, etc.

?

[2015-12-15 14:18] hseeberger commented on #4
Sounds great!

[2015-12-22 08:35] adamw commented on #4
Changed in 0.2.3, together with http-2.0

[2015-12-22 08:35] #4 closed, assigned to nobody

[2016-02-22 02:36] fintis opened #6 "custom header"
Please I can't seem to see my custom headers. Anything I am doing wrong? I have configured as follows:

`akka {
  loglevel = INFO
  stdout-loglevel = INFO
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  default-dispatcher {
    fork-join-executor {
      parallelism-min = 8
    }
  }
  test {
    timefactor = 1
  }
  actor {
    deployment {
      /ServiceManagerRouter {
        router = "round-rob

[2016-02-22 11:55] adamw commented on #6
Are you using the correct transport in the directives, e.g. `setSession(oneOff, usingHeaders, sessionContent)`?

[2016-02-22 18:31] fintis commented on #6
Hi,

Here is a code snippet showing how I have implemented...

[code]

The trait above is inherited in the route as below

[code]

I am sorry for the late response...

Many thanks for your help

[2016-02-22 19:35] adamw commented on #6
I'm not sure if I'm reading your code correctly but `mySetSession` is a directive and should be used as such; it doesn't have any side-effects, it needs to wrap other handlers that should complete the request.

I think you are just calling `mySetSession` and the returning the response `HttpResponse` as two separate statements, so the results of `mySetSession` are ignored.

I think the correct usag

[2016-02-22 19:48] fintis commented on #6
@adamw oaf! I think you are right. Didn't reason it that way.. I will give it a try and let you know how it goes.

[2016-02-22 19:58] fintis commented on #6
@adamw Many thanks for your prompt intervention... :+1:

Still don't know why i didn't use it as a directive as it was very clear in the example.

I guess I got carried away with the ask pattern viz-a-viz. I will close now!

Cheers

[2016-02-22 19:58] #6 closed, assigned to nobody

[2016-03-09 12:12] hseeberger opened #8 "AuthenticationFailedRejection instead of AuthorizationFailedRejection?"
The `ClientSessionManager` uses an `AuthorizationFailedRejection` (by default) for a missing session, but wouldn't a `AuthenticationFailedRejection` be a better fit? The same accounts to the `CsrfManager`.

[2016-03-22 08:47] adamw commented on #8
Sorry for the late response, I as on vacation :)

I remember investigating this a while back, and as far as I recall there's quite a lot of debate on `403` vs `401`, the latter being used for the http authentication

See for example: http://stackoverflow.com/questions/4301877/http-status-code-for-missing-authentication
and https://en.wikipedia.org/wiki/HTTP_403

Hence the choice of a `Authorizatio

[2016-03-22 08:54] hseeberger commented on #8
Yeah, in the meantime I also came to that conclusion. Thanks!

[2016-03-22 08:54] #8 closed, assigned to nobody

[2016-04-04 07:51] mlangc opened #9 "InvalidKeyException when setting `encrypt-data = true`"
I get

[code]

when setting `encrypt-data = true`. Without encryption, the library works fine. I'm using

[code]

with Scala-2.11.8.

[2016-04-04 08:30] adamw commented on #9
Can you try `0.2.5-SNAPSHOT`? The secret was incorrectly shortened to 16 bytes, things broke when a character was multiple-byte (as I suppose is the case with your secret)

[2016-04-04 09:35] mlangc commented on #9
Upgrading to `0.2.5-SNAPSHOT` does indeed solve my problem, thanks!

[2016-04-04 09:37] adamw commented on #9
Great, 0.2.5 should be in central soon

[2016-04-04 09:37] #9 closed, assigned to nobody

[2016-04-19 03:30] MasseGuillaume opened #10 "typo in scm"
https://github.com/softwaremill/akka-http-session/blob/master/build.sbt#L24
gihub.com => github.com

[2016-04-19 06:52] adamw commented on #10
Thanks :)

[2016-04-19 06:52] #10 closed, assigned to nobody

[2016-04-27 08:36] pawelprazak opened #15 "Should the Crypto from Play be replaced"
This is an invitation for discussion about the [Crypto](https://github.com/softwaremill/akka-http-session/blob/master/core/src/main/scala/com/softwaremill/session/Crypto.scala) implementation ported from Play Framework and its future.
Here's the [issue that led to deprecation of the Crypto API from Play](https://github.com/playframework/playframework/issues/4407)
and [here is migration guide in Pl

[2016-05-12 22:50] adamw commented on #15
As far as I understand, they are doing this to hide an internal API which wasn't meant to be used outside of Play. Do you think this affects akka-http-session in some way?

(btw.: this is already pluggable, as you can provide a different session encoder quite easily)

[2016-05-16 09:42] pawelprazak commented on #15
To quote [the docs](https://www.playframework.com/documentation/2.5.x/CryptoMigration25#Symmetric-Encryption):

I'm not an expert, but I know enough to see this implementation is **unsecure by default**, e.g.:

[code]

Which uses **outdated and unsecure** [AES/ECB/PKCS5Padding](https://stackoverflow.com/questions/6258047/java-default-crypto-aes-behavior). Instead of e.g.:

[code]

or

[code]

or

[2016-05-17 13:58] adamw commented on #15
Thanks for the links! An interesting read :). For encryption I think in our case `CBC` would be fine - would you like to create a PR maybe?

[2016-06-04 14:55] denisbetsi opened #16 "Couple of Issues/Questions"
CSRF Protection, does it only validate CSRF token on POST requests? If so how does it protect attacker from GET requests?

I am unable to make usingHeaders  to work. In the example it shows Cookies authorization but nothing with headers.

What header name is it looking for when authentication a session?

[2016-06-06 07:41] adamw commented on #16
This implementation only protects non-`GET` requests, as stated in the readme: "assumes that `GET` requests are non-mutating (have no side effects)". If `GET`s have no side effects, you are safe wrt CSRF (the attacker cannot get the content anyway).

The default header names are here: https://github.com/softwaremill/akka-http-session/blob/master/core/src/main/resources/reference.conf, and can be c

[2016-06-06 13:36] denisbetsi commented on #16
I was using Postman extension on Chrome to test things out. I haven't tried the Authorization and Refresh-Token when submitting. I will try that out and see how it goes. I'll close the issue and if it doesn't work will come back with actual posts and re-open. Thank you!

[2016-06-06 13:36] #16 closed, assigned to nobody

[2016-07-18 00:44] MasseGuillaume opened #17 "non blocking interface"
`setSession` implies a blocking interface. It would be nice if it could accept a `Future[T]`

[2016-07-18 06:00] adamw commented on #17
In what sense is `setSession` blocking? If you have a future value, you can use `onSuccess` (a standard akka-http directive) to unwrap the value:

[code]

You could also easily make your own future-accepting directive. Does that work for you?

[2016-07-18 12:03] MasseGuillaume commented on #17
Oh perfect I didn't know this one existed

[2016-07-18 12:03] #17 closed, assigned to nobody

[2016-07-23 19:06] MasseGuillaume opened #18 "add redirect helper to ctx"
http://doc.akka.io/docs/akka/2.4.8/scala/http/routing-dsl/directives/route-directives/redirect.html

`ctx.redirect(url)`

[2016-07-24 18:22] adamw commented on #18
But add it where specifically? :)

[2016-07-24 18:43] MasseGuillaume commented on #18
oh wops ctx is of type `akka.http.scaladsl.server.RequestContext` this is an akka-http issue

[2016-07-24 18:43] #18 closed, assigned to nobody

[2016-07-24 18:51] MasseGuillaume commented on #18
https://github.com/akka/akka/issues/21029

[2016-09-12 16:45] ajazam opened #20 "Example using headers please"
Is there an example using headers anywhere? I want to interface an android app to akka-http and headers would be the logical choice.

[2016-09-12 17:11] adamw commented on #20
It should be a matter of using `usingHeaders` instead of `usingCookies` in e.g. `setSession`. Does that work for you?

[2016-09-12 21:31] ajazam commented on #20
I've done that and now the POST method returns a Set-Refresh-Token header. What I don't understand is why I'm still getting cookies when I've made the following change

  def mySetSession(v: ExampleSession) = setSession(refreshable, usingHeaders, v)
  val myRequiredSession = requiredSession(refreshable, usingHeaders)
  val myInvalidateSession = invalidateSession(refreshable, usingHeaders)

When I

[2016-09-13 13:42] adamw commented on #20
Are you using the `randomTokenCsrfProtection` directive? If you are authenticating using headers, you are not vulnerable to CSRF attacks, so you don't need it

[2016-09-13 18:52] ajazam commented on #20
I was using the `randomTokenCrfsProtection`directive. I also had to make the following change

[code]

I am now receiving a `Set-Authorization` and `Set-Refresh-Token` headers as a response to the POST method. Am I correct to assume the session ID is returned by`Set-Authorization` and the value in `Set-Refresh-Token` is always returned back to the website?

[2016-09-14 07:58] adamw commented on #20
Yes. The `Set-Refresh-Token` is used to implement "remember me", as described here: https://github.com/softwaremill/akka-http-session#refresh-tokens-remember-me

[2016-09-14 17:37] ajazam commented on #20
Thank you

[2016-09-14 17:37] #20 closed, assigned to nobody

[2016-11-05 15:58] sometao opened #21 "Build for Scala 2.12.0"
any plan for artifacts for Scala 2.12?

[2016-11-07 07:46] adamw commented on #21
Definitely, as soon as akka-http is available for 2.12 :) (https://github.com/akka/akka-http/issues/437)

[2016-11-11 12:13] adamw commented on #21
I published 0.3.0-SNAPSHOT with the updated dependencies (akka-http 10.0.0-RC2) & cross-built for Scala 2.12

[2016-11-22 21:21] adamw commented on #21
0.3.0 released

[2016-11-22 21:21] #21 closed, assigned to nobody

[2017-01-02 07:31] aminpaydar opened #23 "AkkaJava"
Hi,
I m writing app using java akka
can i use  akka-http-session in java ?
please give me an example

[2017-01-04 11:39] adamw commented on #23
Not yet, but we'll try to add it in the near future - stay tuned :)

[2017-01-11 00:39] epiphyllum opened #24 "akka-http-session can not be co-used with akka-cluster"
it can be always replayed  when libraryDepenencies has akka-cluster and akka-http-session

Exception in thread "main" java.lang.NoSuchMethodError: akka.actor.LocalActorRefProvider.log()Lakka/event/LoggingAdapter

[2017-01-11 07:45] adamw commented on #24
Which version of akka, akka-cluster & akka-http-session?

[2017-01-14 12:49] epiphyllum commented on #24
akka 2.4.11 with   akka-http-session 0.3.0

[2017-01-14 13:18] adamw commented on #24
akka-http-session through akka-http version 10 has a transitive dependency to `akka-actor 2.4.14`. Maybe that causes `akka-actor` to be bumped to `2.4.14`, but `akka-cluster` stays at `2.4.11`, causing the inconsistency?

[2017-01-14 13:27] epiphyllum commented on #24
when I upgrade all the akka-xxx to 2.4.16  akka-http to 10.0.1
all is ok

[2017-01-14 13:27] #24 closed, assigned to nobody

[2017-01-14 13:27] epiphyllum opened #25 "ScalatestRouteTest does not support session test"
in my example:
there are three route:  login,  upload,  download
to test it,  the client must login first to upload
then with the result from previous upload,  can only the client initiate the download test
it seems that ScalatestRouteTest does not support this kinds of tests

[code]

[2017-01-14 13:35] epiphyllum commented on #25
it seems that each test request is indepenent

[2017-01-14 13:36] epiphyllum commented on #25
maybe, I can add the cookie header in subsequent test request to make it work

[2017-01-14 14:06] epiphyllum commented on #25
it seems that each test request is indepentent in ScalatestRouteTest, when I add Set-Cookie,
authorization is still failed。

[code]

[2017-01-14 14:14] adamw commented on #25
Yes, each test is independent, only the headers that you specify explicitly are sent. Previous responses have no influence on subsequent requests.

Maybe this will help: https://github.com/softwaremill/akka-http-session/blob/master/core/src/test/scala/com/softwaremill/session/OneOffTest.scala#L94

These are the tests of the set/get session directives. In there the `/set` endpoints sets a session (

[2017-01-17 00:10] briantopping opened #26 "Authorizations"
Great project, thanks! Works effortlessly.

Any interest in Shiro as an authorization provider? Other ideas come to mind? This being the Scala world, it strikes me that someone out there has created the perfect RBAC in five lines with scalaz, but alas, I don't have those five lines :)

[2017-01-17 12:34] adamw commented on #26
I'm not really familiar with Shiro, but if there would be an integration point, then sure! As I see it provides session management - would it be in any way possible to integrate the two session concepts?

[2017-01-17 12:41] briantopping commented on #26
Shiro is kind of a Java standard for authentication. Looks like some others have copied it in Scala, which is nice. Check out https://github.com/eikek/porter. I think this is a much better candidate to integrate or merge.

[2017-01-17 12:45] adamw commented on #26
Though it has only 1 star :) But sure, ideally that would be a module separate from both projects (integrating them)

[2017-01-17 13:19] briantopping commented on #26
haha, yah. I don't think people doing Scala are doing a lot of apps with traditional enterprise features. Project like this isn't needed.

I'll look at the JWT module and see how the integration works..

[2017-01-30 11:15] kijanowski opened #28 "Duplicate Cookie/Header in response when sending an expired session and refresh token"
The cookie/header is set twice, the first time through `SessionDirectives.touchRequiredSession` and then again through `SessionDirectives.setOneOffSessionSameTransport`.
Tried to address it via https://github.com/softwaremill/akka-http-session/pull/27
but it's not fixed.

[2017-01-30 19:10] briantopping commented on #26
Some notes since I am uploading this to Bountysource:

In general terms, I'd like to add permissions checks for users. https://shiro.apache.org/authorization-features.html has a good overview of the things most people wonder about when they are first exposed to authorizations.

The core api an application needs is the ability to check if a user has a permission to do something, just a binary check

[2017-02-01 11:35] adamw commented on #23
A Java API is now available in v 0.4.0

[2017-02-01 11:35] #23 closed, assigned to nobody

[2017-02-14 18:48] mingraham opened #31 "Grammar error in README"
I have a local branch ready to be pushed (case of "using using" instead of "using"), but get a 403. How can I become a contributor?

[2017-02-14 19:08] adamw commented on #31
I think you should first fork the repository to your account, then push the changes to a branch on your fork. Finally, when visiting the fork on GitHub, you should see a yellow box with an option to create a PR.

[2017-02-14 19:18] mingraham commented on #31
Ah, thanks!

On Feb 14, 2017 11:08 AM, "Adam Warski" <notifications@github.com> wrote:

[2017-02-14 19:33] #31 closed, assigned to nobody

[2017-03-25 12:19] nmolenaar opened #33 "Header error regarding JWT implementation"
First off, Thank you so much for your project (time and effort!).
On this moment I'm experiencing some errors regarding the JWT header (name/value) combination.

The error throw = `Illegal request header: Illegal 'authorization' header: Invalid input '=', expected auth-param, OWS, token68, 'EOI' or tchar`

Using the directive `optionalSession(oneOff, usingHeaders)`
This directive always returns an

[2017-03-25 12:29] adamw commented on #33
Can you paste the headers that you are sending to the server?

[2017-04-03 16:27] jonnycatlett opened #34 "TouchRequiredSession generates new refresh token when access token is expired"
I am using touchRequiredSession with refresh tokens and custom headers.  I am noticing that the refresh-token is rotated when the access token is expired and the refresh token is not.  It is my understanding that using touch should not result in a new refresh token, only a new access token.  I verified that the refresh token was being rotated with an extended expiry in the data store.

I could be

[2017-04-06 10:41] adamw commented on #34
"I am noticing that the refresh-token is rotated when the access token is expired and the refresh token is not. " I'm not sure I understand :) Which tokens are changed and which should stay the same?

[2017-04-06 10:46] adamw commented on #34
If the session is expired, then to prolong the session, it has to be first re-created using the refresh token - which "consumes" it. Hence a new one is created.

I suppose the question is, should `touchRequiredSession` use the refresh token to re-create an expired session, or fail if the session is expired, regardless of the refresh token being present.

[2017-04-06 13:28] jonnycatlett commented on #34
Hi @adamw. I am trying to setup my application such that I have a short lived access-token (15min) and a longer lived refresh-token (12hrs).  I want the entire session to after 12hrs from initial login, but allow the access-token to be refreshed as needed within that time window.

I might be misunderstanding the documentation, but it sounds like `touchRequiredSession` is the way to handle that.  I

[2017-04-07 13:44] slothspot commented on #33
I have same warning, coming from akka http dispatcher:
`Illegal request header: Illegal 'authorization' header: Invalid input '=', expected auth-param, OWS, token68, 'EOI' or tchar (line 1, column 142): eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7InJvbGUiOiJzdHViUm9sZSJ9LCJleHAiOjE0OTIxNzY2MTB9.gEgcDFDb+G+sZjq0ekw7cr0Z8J58ywmWvFrowlCEBkE=`

With `setSession(oneOff, usingHeaders, ...)` I have

[2017-04-17 19:40] Fruzenshtein opened #35 "After invalidateSession I'm able to access secured endpoint with "invalidated" session"
Hello

Looks like the invalidateSession function doesn't invalidate the session as it should. I'll explain below what I mean. If you want to look at steps to reproduce without technical details, scroll to the end :)

I use "com.softwaremill.akka-http-session" %% "core" % "0.4.0" with Scala version 2.12.1

I use following configs for session:

[code]

Here is my session serialization (de-)

[code]

[2017-04-18 09:22] adamw commented on #35
If you are using the header transport, then invalidating the session responds with an empty `Set-Authorization` header, which is assumed to clear the client's storage. However that's of course up to your code to do that - probably it's worth documenting a bit better? (with cookies, this is done automatically by the browser).

Note that except for refreshable sessions, akka-http-session is stateles

[2017-04-18 09:26] Fruzenshtein commented on #35
@adamw thanks for the explanation.

So this happens due that fact that in akka-http-session a session is a stateless and once it is generated I can use it until its identifier is deleted locally on a client side (browser, mobile device)

Correct?

[2017-04-18 09:28] adamw commented on #35
Yes. That's why sessions should always have an expiry date :) Optionally refreshed with the refresh token - which assumes external storage and "global" invalidation.

[2017-04-18 09:32] adamw commented on #35
I'll keep this open to clarify the docs later :)

[2017-04-18 09:33] Fruzenshtein commented on #35
@adamw deal :)

[2017-04-18 09:44] adamw commented on #34
Well, unfortunately when the session is expired and re-created, both tokens are currently re-created.

The difference between `touchRequiredSession` and `requiredSession` is that if the session didn't time out, `touch` will extend it for the maximum duration (in your case, 15 minutes), while the normal variant will cause it to time out after 15 minutes since setting it using `setSession`.

For you

[2017-04-18 13:37] jonnycatlett commented on #34
@adamw Thanks so much for the clarification. I completely misunderstood `touchRequiredSession`. A new config option definitely sounds like the best approach. I will try to get a PR up for this soon. Thanks again.

[2017-06-01 15:54] mihbor opened #37 "optionalSession in the javadsl should use java.util.Optional, not scala.Option"

[2017-06-05 20:56] #37 closed, assigned to nobody

[2017-06-09 00:16] adamw commented on #37
Released as 0.5.0

[2017-06-11 16:25] Krever opened #39 "0.5.0 not published for scala 2.12"
Hi there,

it seems that version `0.5.0` was not published for scala `2.12`. Can you please do that ?:)

I base on [this](https://mvnrepository.com/artifact/com.softwaremill.akka-http-session/core_2.12) and [this](https://mvnrepository.com/artifact/com.softwaremill.akka-http-session/core_2.11)

Thanks.

[2017-07-03 20:27] dimalusa commented on #39
I've got the same issue... Can you help us ?
Thanks.

[2017-07-03 20:29] adamw commented on #39
It's there: http://repo1.maven.org/maven2/com/softwaremill/akka-http-session/core_2.12/0.5.0/

What's the dependency that you are trying to add and what's the error message?

[2017-07-03 20:39] dimalusa commented on #39
Oh sorry, that was my mistake...
Everything is OK.
Thanks for you for this lib' !!

[2017-07-03 20:40] adamw commented on #39
Good to hear, and glad you like it :)

[2017-07-03 20:40] #39 closed, assigned to nobody

[2017-07-04 04:30] Krever commented on #39
Maybe it was still synchronizing when I created this issue. Now it is working perfectly fine, thanks!

[2017-07-26 22:23] Hajto commented on #25
@adamw Can I pre-generate cookie/JWT before sending checking ANY route (like call JWT generate(resource)) ?

[2017-07-27 07:21] adamw commented on #25
@Hajto yes, you can do it through `SessionManager.clientSessionManager.createCookie(data: T)`. You need to have an implicit session manager somewhere in order for the routes to work, so you can just use the same one.

[2017-08-08 11:41] andrewresearch opened #41 "requireSession breaks CORS"
My CORS configuration works perfectly until I use requireSession. I have tried many different configurations with no success in getting both CORS and Sessions working together. I'm guessing that requireSession overwrites headers that I set for CORS, but I am uncertain of this. Any suggestions?

[2017-08-08 11:55] adamw commented on #41
Do you mean the `requiredSession` directive? It would be weird if it broke anything, as it basically reads data from the headers. Unless you have refreshable sessions and the session is re-created from a token?

It would be helpful if you could post a code snippet demonstrating the problem.

[2017-08-09 03:56] andrewresearch commented on #41
Yes, sorry. This is how I set it up.  Adding requiredSession(oneOff,usingHeaders) effectively nullified my CORS setting. If I get the headers manually myself, CORS works as expected. I'm using ```akka-http-cors``` to implement CORS. Note, I tried both ```refreshable``` and ```oneOff```, in combination with ```usingHeaders``` and ```usingCookies```.

[code]

[2017-08-09 10:21] adamw commented on #41
Hm, well in the `oneOff` case, the only thing that `requiredSession` does is reading a header value, otherwise the context is unchanged. In your tests, is the session properly decoded during the request? Maybe the session header isn't set and the request is rejected because there's no session?

[2017-08-31 16:38] nmolenaar commented on #33
@adamw

Accept:application/json, text/plain, */*
Accept-Encoding:gzip, deflate, br
Accept-Language:en-US,en;q=0.8,nl;q=0.6,de;q=0.4,af;q=0.2
Authorization:eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7InVzZXIiOnsiaWQiOjEsImVtYWlsIjoiZW5hYmxlQG1vbGVuYWFyLmlvIiwicGFzc3dvcmQiOiIkMmEkMTAkL3BNclY4bnlEV3VXY0cva3hTa1U5LjNXNTAxZG1hUzBRb0ZSeTJZNk5NSHF5Z29DSUkxWUciLCJhY3RpdmUiOnRydWV9fSwiZXhwIjoxNTA0ODAy

[2017-09-01 08:05] adamw commented on #33
@NicholasMolenaar doesn't JWT require the `Bearer` prefix before the token? So the header would be:

[code]

[2017-10-16 10:44] epifab opened #47 "RefreshTokenStorage schedule documentation"
Hello,
I'm interested in using this project, but there are still some obscure undocumented aspects. The first one is the `schedule` method in the `RefreshTokenStorage`. Can you please clarify what is this for and how is it intended to be implemented?
Also the `after` parameter should probably be a `FiniteDuration` rather than simply `Duration`, should it not?
Is there a plan to work on some better

[2017-10-17 17:46] adamw commented on #47
Hello,

the `schedule` method is used to schedule an action to be run in the background after the given amount of time. It is used to remove a used token after a (configurable) period of time. The token cannot be removed immediately as there might be multiple concurrent requests and this would cause some of them to fail (race condition).

You are right that `after` should probalby be a `FiniteDura

[2017-10-18 14:53] epifab commented on #47
Hello!

Thanks for taking the time to answer.
It's great that someone is working on the docs, I believe this is vital to get more people involved.
Please note that the page you linked is currently 404ing for me.

I understand the reason behind the `schedule` method now. However, I'm wondering if that could be achieved in a different way, for example by requiring an implicit `Scheduler`.
My point i

[2017-10-25 11:57] adamw commented on #47
Ah yes, just noticed it's a private temporary repository, we'll be publishing that soon :)

As for `schedule`... well I'm not very happy about it as well, but I didn't have a better idea at that time :). I suppose in all environments akka will be used anyway, so maybe it would be possible to provide a default implementation that uses the underlying http's actor system?

[2017-10-27 11:19] epifab commented on #47
Yeah, I believe so. I'm happy to work on a PR to improve this

[2017-10-30 09:28] adamw commented on #47
@epifab Sounds good, waiting for the code! :)

[2017-10-31 12:05] MasseGuillaume opened #48 "Infinite loop in RefreshTokenManager"
I'm using akka-http-session 0.4.0 in scastie https://github.com/scalacenter/scastie/blob/master/server/src/main/scala/com.olegych.scastie.web/oauth2/GithubUserSession.scala

I have two threads at 100% cpu usage. This the result of jstack:
[code]

[2017-10-31 15:17] adamw commented on #48
Is this on production? I see that you are using `InMemoryRefreshTokenStorage`, which is rather meant for tests, especially that it can cause race conditions with multiple concurrent HTTP requests. Plus after server restart all tokens are lost :). So my first guess would be to try using a database-backed refresh token storage (or remove refresh tokens altogether, if you don't need them).

And possi

[2017-10-31 15:20] MasseGuillaume commented on #48
@adamw yep in production!

I back them up in a file for persistence.

[2017-10-31 15:24] adamw commented on #48
Ah :) Would be good to know if the map maybe grows too big, causing pressure on the GC? Maybe you can see how much memory the app has and how much is free?

If you are using `InMemoryRefreshTokenStorage`, you should also properly implement `schedule` to avoid the race conditions :)

[2017-11-19 08:39] ghost commented on #33
I have the same issue.

[2017-11-19 09:08] adamw commented on #33
@milanvdmria which version, are you on latest?

[2017-11-19 09:25] ghost commented on #33
@adamw I just saw there was an upgrade with the commit https://github.com/softwaremill/akka-http-session/commit/69ae123a639d28dd100d8f4cd7d25e7edc964f36 which I suppose is a fix for thise problem?
Ill test on latest.

[2018-01-09 12:24] nmarasoiu opened #49 "Question: can Cassandra be used as "session"?"
Hi, we have AkkaHttp & Cassandra microservices and would need to keep access/refresh tokens by users for the authorization code flow. Is the http session pluggable in AkkaHttp? Or should we directly work with C* (Cassandra) to store/retrieve tokens? thank you

[2018-01-10 15:53] adamw commented on #49
There's a pluggable storage for remember-me tokens, you have to implement the `RefershTokenStorage` interface (see https://github.com/softwaremill/akka-http-session#refresh-tokens-aka-remember-me). However note that this is only for remember-me - so re-creating sessions (auto-login/remember-me).

Otherwise sessions are cookie or header-based, and there are no DB lookups when accessing a session. H

[2018-01-11 07:06] nmarasoiu commented on #49
Thank you

[2018-01-11 07:06] #49 closed, assigned to nobody

[2018-01-11 08:05] nmarasoiu opened #51 "Question Regarding unresolved dependency: com.softwaremill#akka-http-session_2.12;0.5.2: not found"
Hi,
I am getting the mentioned error, "unresolved dependency: com.softwaremill#akka-http-session_2.12;0.5.2: not found".
In order to use your library as a dependency, we need likely this information:
- the repository
- the scala versions for which it is compiled
- latest published version (in releases 0.5.2 is the latest, but in the commit log, 0.5.3)
Thank you
Nicu

[2018-01-11 08:18] adamw commented on #51
0.5.3 is the latest version: https://repo1.maven.org/maven2/com/softwaremill/akka-http-session/core_2.12/0.5.3/

You don't need any repositories, it's in central. The group id is `com.softwaremill.akka-http-session`, the artifact id `core` and version `0.5.3`. Hope this helps!

[2018-01-11 08:46] nmarasoiu commented on #51
Thank you!

[2018-01-11 08:46] #51 closed, assigned to nobody

[2018-01-11 14:40] nmarasoiu opened #52 "on secret management"
Hi,
I would see two possibilities of managing the secret per env:
- via Kubernetes secrets, that is as a specific kind of configuration (secret one)
- automatically generating a secret when an environment starts - but where to keep it? Would the database be a proper place? I know for secret data there is Vault for instance, but that would make it too complex for us to choose.
What is your advice?

[2018-01-11 16:39] adamw commented on #52
I think that is very project-specific. You might use vault, you might use an AWS/Google service, keep it in database ...

Closing as this isn't really in scope of akka-http-session

[2018-01-11 16:39] #52 closed, assigned to nobody

[2018-01-26 17:29] dave-kav opened #53 "Redirect unauthenticated request"
Hi guys,

I'm wondering whether there is any existing directive that allows a request to be re-directed if the request is made to an un-authenticated user to a secured  endpoint.

I am using this in a web console, and currently I am seeing:
[code]

It would be more useful however to redirect the request to a login page. Is this possible at the minute, am I just missing something? I haven't been ab

[2018-01-29 13:25] adamw commented on #53
You should be able to use the `session` directive (https://github.com/softwaremill/akka-http-session/blob/master/core/src/main/scala/com/softwaremill/session/SessionDirectives.scala#L31), which gives you a `SessionResult`, and matching on that value check if there's is a session or not, and dynamically choose the "next" directive (see https://github.com/softwaremill/akka-http-session/blob/master/c

[2018-02-03 21:35] kevinavery opened #54 "Session token compatibility across upgrades"
Session tokens created under v0.5.1 are invalid after upgrading to v0.5.2. This means upgrading the library causes all users to be logged out.

It looks like this was the relevant change: https://github.com/softwaremill/akka-http-session/commit/5ef05778d0ae25f18f57bf3a81bb7ab147e89300

Separately, upgrading from v0.5.2 to v0.5.3 also breaks existing session tokens.

Is there a token migration path

[2018-02-05 14:18] adamw commented on #54
That's true, 0.5.2 was a security fix and 0.5.3 fixed rare encoding problems. There isn't currently any migration code

[2018-02-05 21:53] kevinavery commented on #54
I'd be happy to add the migrations. How about we add a config like
[code]
Then we simply allow the old deserialization format if the config is enabled.

There's probably a way to safely accelerate the token turnover in certain cases, but I haven't familiarized myself with the codebase yet and don't want to complicate things.

What do you think?

[2018-02-06 13:58] adamw commented on #54
Sounds good! So if the migration is enabled, an attempt would be made to deserialize using the old format, and if that works, set the token to the new one?

[2018-02-07 03:03] kevinavery commented on #54
When you say "set the token to the new one" do you mean attempt to update the client by sending the new cookie/header back in the response? That's what I had referred to, but am a little concerned about doing essentially a write-session op as a side effect of a read-session. I can certainly look into it, but again, haven't dug into this implementation yet. Hoping to get to it later this week.

[2018-02-07 09:43] adamw commented on #54
Yes, I think the goal is to migrate existing users to the new format?

Get-session sometimes causes a new session to be established - if "remember me" is used.

[2018-02-08 01:37] kevinavery commented on #54
Right, though even without explicitly updating the tokens, they will automatically migrate as they expire and new tokens are created. If we imagine devs will leave the migrations enabled long enough to migrate all existing tokens - the max of the session or refresh token expiry period - then it wouldn't make a practical difference, if I understand correctly.

Nonetheless I agree it would be nice t

[2018-02-08 23:44] kevinavery commented on #54
Pull request here https://github.com/softwaremill/akka-http-session/pull/55

[2018-02-11 08:45] adamw commented on #54
Fixed in 0.5.4

[2018-02-11 08:45] #54 closed, assigned to nobody

[2018-03-29 13:05] #53 closed, assigned to nobody

[2018-04-05 22:00] hseeberger opened #59 "Please support Java 9!"
With Java 9 I get

[code]

With Java 8 everything works as expected ...

[2018-04-06 06:26] hseeberger opened #60 "Upgrade to akka-stream 2.5"
Currently depending on 2.4.

[2018-04-06 06:33] hseeberger commented on #59
Actually adding `"javax.xml.bind" % "jaxb-api" % "2.3.0"` as a dependency resolved this issue for me. If you upgrade to Java 9 or higher, you probably should add that, too.

[2018-04-06 06:33] #59 closed, assigned to nobody

[2018-04-10 05:49] adamw commented on #59
@hseeberger I removed usages of `DatatypeConverter` so hopefully this will now work with just the base module. Also released a new version with the change (0.5.5)

[2018-04-10 05:50] adamw commented on #60
Done in 0.5.5, there's only a `provided` dependency on `akka-streams`

[2018-04-10 05:50] #60 closed, assigned to nobody

[2018-04-10 07:47] hseeberger commented on #60
Thanks

[2018-05-09 12:48] veotax commented on #26
[jCasbin](https://github.com/casbin/jcasbin) is an authorization library that supports models like ACL, RBAC, ABAC.

Related to RBAC, casbin has several advantages:
1. roles can be cascaded, aka roles can have roles.
2. support resource roles, so users have their roles and resource have their roles too. role = group here.
3. the permission assignments (or policy in casbin's language) can be persis

[2018-05-11 11:19] adamw commented on #26
@veotax do you have any specific idea on how would jcasbin integrate with akka-http? I suppose you could use any kind of authorization library and store the result in the session data.

[2018-11-25 05:34] kormoglaz commented on #35
Hi all, got same problem regarding invalidation. I use InMemoryRefreshTokenStorage[T] and it stores session data well during app lifecycle. I use header transport as well and invalidating the session response with an empty `Set-Authorization` header, that's ok. But, regarding the sources

[code]

it should remove session from storage, especially with `onSuccess(sc.refreshTokenManager.removeToken(v

[2018-11-26 19:10] adamw commented on #35
@kormoglaz so you are saying that the token is not removed from storage? That should happen ... maybe you can try with a copy of `InMemoryRefreshTokenStorage` and with some debugging statements added.

Btw. this storage isn't mean for production, only for testing. It's not thread-safe (but making it such wouldn't be hard, just a different `Map` implementation)

[2018-11-29 14:03] aniketkakde commented on #33
I have similar problem... any suggestions ... by the way , I am not using akka-http-session lib at the client side. It is not produced at the local but at the server after deployment

[2019-06-07 12:29] mkubala commented on #28
Fixed in #62

[2019-06-07 12:29] #28 closed, assigned to mkubala

[2019-06-07 12:42] mkubala opened #64 "RSA signing for JWT"
I need to integrate my akka-http-session based app with some L7 proxy and communication bus, which requires RS256 or ES256 to be used as the JWT alg.

Unfortunately, at the moment library supports only HS256 (HmacSHA256).

I'd like to add support for RSA keys and make `JwtSessionEncoder` configurable.

[2019-06-25 19:23] o-m-a-r-k opened #66 "Build for Scala 2.13.0"
Any plan to generate artifacts for Scala 2.13?

[2019-06-26 13:29] adamw commented on #66
Done, released in 0.5.7

[2019-06-26 13:29] #66 closed, assigned to nobody

[2019-06-26 13:29] adamw commented on #64
Released in 0.5.7

[2019-06-26 13:29] #64 closed, assigned to mkubala

[2019-07-23 08:28] mkubala opened #70 "JWT: Add support for `iss` and `aud` claims"
These claims are required by some service proxies that supports JWS verification.
Unfortunately claims cannot be injected using a custom serialiser in the application code, since its output is nested together with other payload fields under the `data` key.

[2019-07-24 08:13] mkubala commented on #70
Fixed. Will be included in 0.5.10.

[2019-07-24 08:13] #70 closed, assigned to mkubala

[2019-08-02 22:50] colinbes opened #72 "issue refreshing token"
I am using refreshable and cookie options for session handling.

OneOff option works as expected but I am unable to get the refreshable option to work.

Setting session max-age to less than refresh max-age results in session timing (as expected).

If using directive requiredSession and session expires I get the following exception thrown (appears to be thrown by processing of directive:

[code]

I

[2020-01-12 11:22] kamac opened #73 "Allow separate access/refresh transport"
**Problem**
Currently there the API doesn't support different access and refresh tokens transports (for example one should be stored in a HTTP only cookie, while the other in header).

**Motivation**
If separate transports were possible, one could store refresh token in a HTTP only cookie, and access token in headers (which would later be saved by the client in localstorage). This approach could y

[2020-03-10 13:22] willemvermeer opened #74 "CSRF protection can be bypassed with empty header and empty cookie"
Hi,
When you send a POST to an endpoint protected by randomTokenCsrfProtection and pass in an empty X-XSRF-TOKEN header and a XSRF-TOKEN cookie with empty value, the filter will let you pass.

I think is due to the check in randomTokenCsrfProtection on line 26:
if (submitted == cookie)  {
  pass
}
but the value itself is not inspected and could possibly be empty.

Hope this can be fixed, thanks,
W

[2020-03-11 19:07] adamw commented on #74
Fixed in 0.5.11. Thanks for the report!

[2020-03-11 19:07] #74 closed, assigned to nobody

[2020-08-04 06:37] willemvermeer opened #76 "Upgrade to akka streams 2.6.x"
Hi, are there any plans to upgrade the dependency on akka-streams from 2.5 to 2.6?

[2020-11-24 16:51] willemvermeer opened #77 "CSRF protection can be bypassed"
Hi again,

Another question about the CSRF protection. It can be bypassed by forging a request that contains the same value for both the X-XSRF-TOKEN header and the XSRF-TOKEN cookie value. Any value will do since the only check that is now performed in randomTokenCsrfProtection is for those two values to be equal and non-empty.

Would it be somehow possible to conform to the OWASP recommendations

[2020-11-25 14:56] colin-ife-snyk commented on #77
This is an interesting find. @willemvermeer did you manage to verify this with a PoC also?
In any case, would be nice to also hear the thoughts of the maintainer/s and/or any verification of the potential vulnerability.

[2020-11-26 13:12] adamw commented on #77
It's been a while since I last looked into this so excuse me if I'm slightly out of date :).

As far as I remember, CSRF attacks are when a user submits a request by clicking a link or even visiting a malicious site. Last I checked (but this could have been 2 years ago), being able to submit *anything* in the header was sufficient to determine that a request is not a CSRF attack, as setting a head

[2020-11-29 00:55] rleibman commented on #76
This would be fixed by https://github.com/softwaremill/akka-http-session/pull/78

[2020-11-29 12:03] willemvermeer commented on #76
Great, that will be very convenient, thanks.

[2020-11-29 12:03] #76 closed, assigned to nobody

[2020-11-30 14:11] willemvermeer commented on #77
Hi Adam,

Thanks for getting back on this one. The issue was detected during a security test by an external company.

On the OWASP site there are some recommendations on how to mitigate this risk: here[https://owasp.org/www-community/attacks/csrf](url)
What might be possible is to define a new CsrfCheckMode that ties the SessionManager and CsrfManager together, such that the CsrfManager can reuse

[2020-12-03 10:31] mszczygiel commented on #77
Hi Willem,
per [OWASP recommendations](https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html#double-submit-cookie) using secure hash of session cookie is discouraged. Suggested approach is to either encrypt or to use HMAC of the token as a cookie. For sure it would be valuable addition to the library, so PR is welcome :) Looks like HMAC may be simple

[2020-12-21 09:44] willemvermeer commented on #77
Picking up on this one: how I could see this working would be:
- establish a single server secret
- on first GET request create a plain text date/timestamp, generate
HMAC(timestamp) using the server secret.
- use the concatenation of the HMAC(timestamp) (=<hmac>) and the plaintext
timestamp (<ts>) as the CSRF cookie value (<hmac><ts>) and put this in the
response
- on subsequent POST request clien

[2020-12-21 11:21] willemvermeer commented on #77
Hi @adamw / @mszczygiel ,

I created a PR with a minimal implementation of the suggested CSRF improvement.
How do I move forward? I have no access rights to the repository to push a PR?

Thanks,
Willem

[2020-12-21 12:06] adamw commented on #77
@willemvermeer great! you should fork the repository to your account, push the branch, then you should be able to open a PR against the original one (this one :) )

[2021-01-04 08:47] willemvermeer commented on #77
Hi @adamw happy new year :-) this is a gentle nudge to take a look at the PR I submitted for this issue - comments are appreciated when you can find some time, thanks!
See: https://github.com/softwaremill/akka-http-session/pull/79

[2021-01-05 07:53] adamw commented on #77
@willemvermeer thanks, taking a look now. Sorry it took so long, but we've been mostly away for Christmas / New Year :)

[2021-01-05 21:52] willemvermeer commented on #77
Thanks @adamw ; I addressed your comments in a followup commit. And no apologies required for taking a Xmas break :-)

[2021-01-20 08:56] adamw commented on #77
@willemvermeer I suppose this can be closed now?

[2021-01-20 09:51] #77 closed, assigned to nobody

[2021-06-08 14:30] colinbes commented on #72
Taking this a step further.
Function (SessionManager.scala) sessionFromValue fails on  line  `storage.lookup(selector).flatMap {`. Stepping through store.lookup (using trait InMemoryRefreshTokenStorage) it doesn't find token and posts into log file `Looking up token for selector: nld7cd6ekft9ib39, found: false` After stepping out of the `lookup` function in InMemoryRefreshTokenStorage trait the ex

[2021-06-09 13:19] colinbes commented on #72
Updated and cleaned up thread.

[2021-06-16 12:25] colinbes commented on #72
Any ideas/comments? Not having a refresh cookie option (not working for me) means I’ll have to switch to using header option.

[2021-06-16 21:38] colinbes commented on #72
In effort to further debug I changed using `optionalSession` directive for `session` as I read somewhere it offer more debug logging - well, lo and behold, using session works - so not sure what's up with using optionalSession.

This fails with NullPointer exception when session token expires
[code]

while this works
[code]

where
[code]

[2021-06-16 21:38] colinbes commented on #72
Sad to not be seeing responses, hopefully this project is still going to be supported.

[2021-06-17 07:43] adamw commented on #72
Thanks for the report, it will take a bit unfortunately before we get some free time to try and debug the issue. One thing that does go faster, though, is if you'd have a PR :)

[2021-06-17 11:44] colinbes commented on #72
I will keeps looking but I haven’t found source of error yet. I thought I’d post as I go along in case it triggers ideas. Time this side is also tight but want to help

Sent from my iPhone

[2021-06-17 12:05] adamw commented on #72
Sure, documenting the discovery process is definitely a good idea :)

[2022-01-28 21:15] firehooper opened #82 "Add SameSite attribute to Cookies"
Add config for akka-http issue [ #2928](https://github.com/akka/akka-http/issues/1354)
https://github.com/akka/akka-http/pull/2928

[2022-02-01 13:26] firehooper commented on #82
Added in 0.7.0 see https://github.com/softwaremill/akka-http-session/blob/master/core/src/main/resources/reference.conf#L8

[2022-02-01 13:26] #82 closed, assigned to nobody